* {
    margin: 0px;
    padding: 0px;
}

.banner {

    padding: 30px 30px 0px 150px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    color: #272727;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-btn {
    color: white;
    padding: 20px 43px;
    text-align: left;
    background-color: #E55473;
    border: none;
}

.banner-img {
    width: 635px;
    height: 800px;
    padding-bottom: 0px;
}

/* 22222222222222222222222 */


.banner-2 {

    padding: 30px 30px 0px 150px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-title-2 {
    color: #272727;
    font-family: Lato;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.banner-description-2 {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.banner-btn-2 {
    color: white;
    padding: 20px 43px;

    text-align: center;
    background-color: #E55473;
    border: none;
}

.banner-img-2 {
    width: 318px;
    height: 420px;
}

.banner-con-2 {
    align-items: center;
    justify-content: center;
}

.social {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 20px;
}

.social-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 40px;
}


.image-container {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 120px;
}

.image {
    margin-right: 10px;
    width: 250px;
    height: 320px;
}

.form {
    text-align: center;
    width: 72%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-image: url("../images/recnine.png");
    background-size: cover;
    height: 300px;

}
.formfl{
    display: flex;
    justify-content: center;
   
}

.footer {
    text-align: center;
    background-color: #140e0e;
    max-height:100% ;

}

.footer-title {
    color: #fdfdfd;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
    padding-top: 120px;
    padding-bottom: 20px;

}

.flower {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.footer-des {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.reserved{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;
padding-bottom: 120px;
}
.form-title{
    padding-top: 120px;
    padding-bottom: 15px;
}
.finput{
    width: 300px;
height: 40px;
padding-right: 5px;
}
.fdes{
    padding-bottom: 40px;
}
.footer-content{
    padding-top: 120px;
}